[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
jupyterlab = "*"

[packages]
numpy = "*"
pandas = "*"
xarray = "*"
scipy = "*"
astropy = "*"
matplotlib = "*"
fmflow = "*"
netcdf4 = "*"
tqdm = "*"

[requires]
python_version = "3.7"
