[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
jupyterlab = "*"
flake8 = "*"
pytest = "*"
black = "*"

[packages]
numpy = "*"
pandas = "*"
xarray = "*"
scipy = "*"
astropy = "*"
matplotlib = "*"
fmflow = "*"
netcdf4 = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
